/* colours
#E3E4DB
#CDCDCD
#AEA4BF
#533A71
#363732
 */


* {
  /* border: black 1px solid; */
  padding: 0;
  margin: 0;
}

.App {
  min-width: 300px;
}

h1, h2, h6 {
  text-transform: capitalize;
}

nav {
  display: block;
  border: 0;
}

nav > Button {

}

ul {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .App {
    width: auto;
  }
  
  .articles-page > h1 {
    grid-area: top;
  }
}