/* colours
#E3E4DB
#CDCDCD
#AEA4BF
#533A71
#363732
https://coolors.co/e3e4db-cdcdcd-aea4bf-533a71-363732
 */

* {
  /* border: black 1px solid; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.App {
  min-width: 300px;
}

h1,
h2,
h6 {
  text-transform: capitalize;
}

h1 {
  padding: 30px;
  font-size: 8vh;
  font-weight: bold;
  all: unset;
  padding: 20px;
  border: #aea4bf solid;
  background-color: #E3E4DB;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  margin: 30px;
  box-shadow: 10px 10px #aea4bf;
}

ul {
  list-style: none;
}

/* --------------------------------------------------------------------------------- */

nav {
  display: flex;
  justify-content: space-evenly;
  border: 0;
  height: 50px;
  width: 100%;
  background-color: #533a71;
}

nav > button {
  background-color: #aea4bf;
  height: 80%;
  width: 15%;
  margin-top: 5px;
}

/* ----------------------------------------------------- */

footer {
  width: 100%;
  background-color: #533a71;
  height: 50px;
}

.logged-in-as {
  color: #aea4bf;
  margin-left: 10px;
  height: 50%;
  line-height: 50px;
}

/* ---------------------------------------------------- */

.background {
  background-color: #cdcdcd;
  text-align: center;
  display: grid;
  min-height: 500px;
}

.background > img {
  padding: 20px;
  border: #aea4bf solid;
  background-color: #CDCDCD;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  margin: 30px;
  box-shadow: 10px 10px #aea4bf;
  height: 200px;
}

/* HOME PAGE---------------------------------------------------- */

.home-logo {
  margin: auto;
}

.home-background > h1 {
  padding: 30px;
  font-size: 8vh;
  font-weight: bold;
  all: unset;
  padding: 20px;
  border: #aea4bf solid;
  background-color: #CDCDCD;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  margin: 30px;
  box-shadow: 10px 10px #aea4bf;
}

.homepage-buttons > button {
  all: unset;
  padding: 20px;
  border: #aea4bf solid;
  background-color: #E3E4DB;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  margin: 30px;
  box-shadow: 10px 10px #aea4bf;
}

/* LOGIN PAGE---------------------------------------------- */

.login-page-ul > li {
  background-color: #E3E4DB;
  padding: 10px;
  margin: 10px;
  border: 1px #363732 dashed;
  display: flex;
}

.login-page-ul > li > button {
  all: unset;
  padding: 2px;
  border: #aea4bf solid;
  background-color: #E3E4DB;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  margin: 3px;
  box-shadow: 4px 4px #aea4bf;
}

/* USERS--------------------------------------------------- */



@media only screen and (min-width: 768px) {
  .App {
    width: auto;
  }

  .articles-page > h1 {
    grid-area: top;
  }
}

/* TOPICS------------------------------------------------*/

.topics-list-element > li {
  border: 2px grey dotted;
  width: 70%;
  padding: 10px;
  margin: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.new-topic-form {
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
}

/* TOPICS BAR ------------------------------------------*/

.topics-bar-header {
  border-bottom: grey 1px dotted;
  width: 10%;
  text-align: center;
  margin-top: 10px;
  margin: auto;
}

.topics-bar-button-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: auto;
  justify-content: space-evenly;
}

.topic-button {
  all: unset;
  padding: 6px;
  margin: 6px;
  margin-bottom: 20px;
  text-transform: capitalize;
  border: #aea4bf solid;
  background-color: #E3E4DB;
  border-top-left-radius: 40px 120px;
  border-top-right-radius: 120px 40px;
  border-bottom-left-radius: 110px 40px;
  border-bottom-right-radius: 120px 40px;
  box-shadow: 10px 10px #aea4bf;
}

/*ARTICLES-------------------------------------------------*/

.articles-list-element > li {
  border: 2px grey dotted;
  color: rgb(49, 49, 49);
  width: 70%;
  padding: 10px;
  margin: 5px 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 5px 5px #aea4bf;
}

.log-in-to-write-article-button {
  all: unset;
  border: grey 2px dotted;
  width: 50%;
  margin: auto;
  background-color: #E3E4DB;
  box-shadow: 10px 10px #aea4bf;
}

/*USERS--------------------------------------------*/

.user-header {
  height: 30px;
}

.Users {
  margin: 0;
}

.users-page-ul {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin: 4px;
}